<h1>users/show.html.erb</h1>

<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image("100x100") %>
  <% if @user == current_user %>
  <p><%= link_to 'プロフィール編集' ,edit_user_path(@user.id) %></p>
  <% end %>
</div>

<%= render 'post_images/list', post_images: @post_images %>
<!--users/show.html.erbから呼び出す場合には、違うフォルダに部分テンプレートがあるため、-->
<!--フォルダ名も指定する必要があることに気をつけましょう。-->
<!--詳細はpost_imagesのindex.htmlファイル参照-->